<form [formGroup]="rieltorForm" (ngSubmit)="editUser()" *ngIf="data; else elseBlock">
    <h1 mat-dialog-title> Редактирование клиента</h1>
    <div mat-dialog-content class="wrap">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="FirstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput formControlName="MiddleName" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input matInput formControlName="LastName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Доля комиссии</mat-label>
        <input matInput formControlName="DealShare">
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-raised-button color="primary">Редактировать</button>
      <a (click)="closepopup()" mat-raised-button color="warn">Закрыть</a>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
    </div>
  </form>
  
  <ng-template #elseBlock>
    <form [formGroup]="rieltorForm" (ngSubmit)="saveUser()">
      <h1 mat-dialog-title>Создать клиента</h1>
  
      <div mat-dialog-content class="wrap">
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="FirstName" value=";ll">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="MiddleName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="LastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Доля комиссии</mat-label>
          <input matInput formControlName="DealShare">
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-raised-button color="primary">Сохранить</button>
        <a (click)="closepopup()" mat-raised-button color="warn">Закрыть</a>
        <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
      </div>
    </form>
  </ng-template>