<div class="menu-wrap">
        <div class="menu__logo"><a class="menu__logo-href" routerLink="/"><img class="menu__logo-img"
                                src="/assets/logo.svg" alt="logo"></a></div>
        <ul class="menu__list">
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/sale"
                                routerLinkActive="active">Продать</a>
                </li>
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/purchase"
                                routerLinkActive="active">Купить</a></li>
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/rieltors"
                                routerLinkActive="active">Риэлторы</a></li>
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/clients"
                                routerLinkActive="active">Клиенты</a></li>
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/sales"
                                routerLinkActive="active">Предложения</a></li>
                <li class="menu__list-item"> <a class="menu__list-href" routerLink="/purchases"
                                routerLinkActive="active">Потребности</a></li>
        </ul>
        <a class="menu__logout menu__list-item" href="">Выход</a>
</div>