<div class="client">
    <app-title [title]="title"></app-title>
    <div class="client__btn-wrap">
        <mat-form-field class="client__search">
            <input matInput type="text" [(ngModel)]="search" placeholder="Поиск">
            <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button class="client__btn" mat-raised-button color="primary" (click)="openPopup()"> Создать</button>
    </div>

    <div *ngFor="let client of (clients$ | async )| searchPeople:search">
        <app-small-block [client]="client"></app-small-block>
    </div>
</div>