.sale {
    &__client {
        &-form {
            width: 100%;
        }

        &-title {
            margin-bottom: 10px
        }

        &-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__input {
        &-wrap {
            width: 30%;
            padding-right: 30px;
        }
    }

    &__input2 {
        &-wrap {
            width: 50%;
            padding-right: 30px;
        }
    }

    &__input1 {
        &-wrap {
            width: 100%;
            padding-right: 30px;
        }
    }
}

.card {
    margin-bottom: 40px;
    height: 500px;
}

.tab__content {
    padding-top: 30px;
    height: 400px
}

mat-tab {
    height: 400px;
}

.sale__input-small {
    width: 32%;
    margin-right: 5px;
    max-width: 310px;

}


.inputs-wrap {
    display: flex;
    justify-content: space-between;
}

.inputs-form {
    width: 65%;
    margin-right: 30px;
}

.map {
    width: 35%;
}

.line {
    width: 100%;

    &-small {
        display: flex;
        width: 100%;
    }
}

.input__block-small {
    width: 50%;
    display: flex;
    padding-right: 30px;
}

.input__block-small>.sale__input2-wrap:last-child {
    padding-right: 0;
}

.btns-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.offer{
    &__inputs{
        display: flex;
        flex-direction: column;
        width: 100%
    }
}