<div class="sale">
  <app-title [title]="title"></app-title>
  <mat-card class="card">
    <mat-card-content>
      <mat-tab-group [selectedIndex]=select>
        <div *ngFor="let tab of tabs; let index1 = index">
          <mat-tab [label]="tab">

            <div *ngIf="index1===0" class="tab__content">
              <form [formGroup]="clientForm" class="sale__client-form" (ngSubmit)="addClient()">
                <mat-form-field class="sale__input-wrap">
                  <mat-label>Клиент</mat-label>
                  <mat-select [(ngModel)]="selectedClient">
                    <ng-container *ngFor="let client of clients">
                      <mat-option [value]="client.id">{{client.FirstName}} {{client.LastName}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <div class="sale__client-info">
                  <mat-form-field class="sale__input">
                    <mat-label>Фамилия</mat-label>
                    <input matInput placeholder="Иванов" formControlName="FirstName">
                  </mat-form-field>
                  <mat-form-field class="sale__input">
                    <mat-label>Имя</mat-label>
                    <input matInput placeholder="Иван" formControlName="MiddleName">
                  </mat-form-field>
                  <mat-form-field class="sale__input">
                    <mat-label>Отчество</mat-label>
                    <input matInput placeholder="Иванович" formControlName="LastName">
                  </mat-form-field>
                  <mat-form-field class="sale__input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email@mail.ru" formControlName="Email">
                  </mat-form-field>
                  <mat-form-field class="sale__input">
                    <mat-label>Телефон</mat-label>
                    <input matInput placeholder="8 985 782 95 58" formControlName="Phone">
                  </mat-form-field>
                </div>
                <button mat-flat-button color="primary" (click)="next(index1)">Дальше</button>
              </form>
            </div>
            <div *ngIf="index1===1" class="tab__content">
              <div>
                <mat-radio-group [(ngModel)]="typeOfHousing">
                  <mat-radio-button value="flat">Квартира</mat-radio-button>
                  <mat-radio-button value="house">Дом</mat-radio-button>
                  <mat-radio-button value="land">Земля</mat-radio-button>
                </mat-radio-group>

                <form [formGroup]="objectForm" (ngSubmit)="addObject()">
                  <div class="inputs__form">
                    <div class="line">
                      <mat-form-field class="sale__input-big">
                        <mat-label>Город</mat-label>
                        <input matInput placeholder="Москва" formControlName="city">
                      </mat-form-field>
                      <mat-form-field class="sale__input-big">
                        <mat-label>Улица</mat-label>
                        <input matInput placeholder="Б. Ивановская" formControlName="street">
                      </mat-form-field>
                    </div>
                    <div *ngIf="typeOfHousing==='flat'">
                      <div class="line">
                        <div class="input__block-small">
                          <mat-form-field class="sale__input-small">
                            <mat-label>Дом</mat-label>
                            <input matInput formControlName="house">
                          </mat-form-field>
                          <mat-form-field class="sale__input-small">
                            <mat-label>Корпус</mat-label>
                            <input matInput formControlName="frame">
                          </mat-form-field>
                          <mat-form-field class="sale__input-small">
                            <mat-label>Квартира</mat-label>
                            <input matInput formControlName="flat">
                          </mat-form-field>
                        </div>

                        <div class="input__block-small">
                          <mat-form-field class="sale__input-big">
                            <mat-label>Широта</mat-label>
                            <input matInput formControlName="latitude">
                          </mat-form-field>
                          <mat-form-field class="sale__input-big">
                            <mat-label>Долгота</mat-label>
                            <input matInput formControlName="longitude">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="line">
                        <div class="input__block-small">
                          <mat-form-field class="sale__input-big">
                            <mat-label>Этаж</mat-label>
                            <input matInput formControlName="floor">
                          </mat-form-field>
                          <mat-form-field class="sale__input-big">
                            <mat-label>Кол-во комнат</mat-label>
                            <input matInput formControlName="floors">
                          </mat-form-field>
                        </div>
                        <mat-form-field class="sale__input-big">
                          <mat-label>Общая площадь квартиры</mat-label>
                          <input matInput formControlName="square">
                        </mat-form-field>
                      </div>
                    </div>


                    <div *ngIf="typeOfHousing==='house'">
                      <div class="line">

                        <mat-form-field class="sale__input-big">
                          <mat-label>Дом</mat-label>
                          <input matInput formControlName="house">
                        </mat-form-field>
                        <div class="input__block-small">
                          <mat-form-field class="sale__input-big">
                            <mat-label>Широта</mat-label>
                            <input matInput formControlName="latitude">
                          </mat-form-field>
                          <mat-form-field class="sale__input-big">
                            <mat-label>Долгота</mat-label>
                            <input matInput formControlName="longitude">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="line">
                        <div class="input__block-small">
                          <mat-form-field class="sale__input-big">
                            <mat-label>Этажность</mat-label>
                            <input matInput formControlName="floors">
                          </mat-form-field>
                          <mat-form-field class="sale__input-big">
                            <mat-label>Кол-во комнат</mat-label>
                            <input matInput formControlName="rooms">
                          </mat-form-field>
                        </div>
                        <mat-form-field class="sale__input-big">
                          <mat-label>Общая площадь дома</mat-label>
                          <input matInput formControlName="square">
                        </mat-form-field>
                      </div>
                    </div>

                    <div *ngIf="typeOfHousing==='land'">
                      <div class="line">
                        <mat-form-field class="sale__input-big">
                          <mat-label>Площадь</mat-label>
                          <input matInput formControlName="square">
                        </mat-form-field>
                        <div class="input__block-small">
                          <mat-form-field class="sale__input-big">
                            <mat-label>Широта</mat-label>
                            <input matInput formControlName="latitude">
                          </mat-form-field>
                          <mat-form-field class="sale__input-big">
                            <mat-label>Долгота</mat-label>
                            <input matInput formControlName="longitude">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="btn__wrap"><button class="form__btn" mat-flat-button color="primary">Сохранить</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="btns">
                <button mat-flat-button (click)="previous(index1)">Назад</button>
                <button mat-flat-button color="primary" (click)="getInfo()" (click)="next(index1)">Дальше</button>
              </div>
            </div>
            <div *ngIf="index1===2" class="tab__content" (click)="getRieltors()">
              <div *ngIf="client">
                <h4>Клиент</h4>
                <p>{{client.FirstName}} {{client.MiddleName}} {{client.LastName}}</p>
                <p>Телефон: {{client.Email}}</p>
                <p>Email:{{client.Phone}}</p>
              </div>

              <div *ngIf="object">
                <h4>Объект</h4>
                <p>Город: {{object.city}}</p>
                <p>Улица: {{object.street}}</p>
                <p>Широта: {{object.latitude}}</p>
                <p>Долгота: {{object.longitude}}</p>
              </div>
              <div class="offer__inputs">
                <mat-form-field class="sale__input-wrap">
                  <mat-label>Риелтор</mat-label>
                  <mat-select [(ngModel)]="selectedRieltor">
                    <ng-container *ngFor="let rielter of rielters">
                      <mat-option [value]="rielter.id">{{rielter.FirstName}}{{rielter.LastName}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="sale__input-wrap">
                  <mat-label>Стоимость</mat-label>
                  <input matInput [(ngModel)]="price">
                </mat-form-field>
              </div>
              <button mat-flat-button (click)="previous(index1)">Назад</button>
              <button mat-flat-button color="primary" (click)="createOffers()">Создать</button>
            </div>
          </mat-tab>
        </div>

      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>