.card {
    height: 500px;
    padding-bottom: 30px;
}


.tab {
    &__content {
        height: 400px;
        padding: 30px 5px;
    }
}

.sale {
    &__input {
        width: 32%;
        padding-right: 30px;

        &-big {
            width: 50%;

            &:first-child {
                padding-right: 30px;
            }
        }

        &-small {
            width: 33%;
            padding-right: 20px;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.input {
    &__block {
        &-small {
            width: 50%;
            padding-right: 30px;

            &:last-child {
                padding-right: 0;
            }
        }

    }
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form__btn {
    margin-left: auto;
    display: block;
}

.offer {
    &__inputs {
        display: flex;
        flex-direction: column;
        width: 100%
    }
}